main {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
  font-family: Calibri, Helvetica, sans-serif;
}

body {
  font-family: Calibri, Helvetica, sans-serif;
  color:black;
}

h1 {
  color: #404040;
  font-weight: bold;
  font-size: 2.75em;
}

h2 {
  color: black;
  font-weight: bold;
  font-size: 1.125em;
}

h3 {
  color: black;
  font-weight: bold;
  font-size: 0.938em;
  text-transform:uppercase;
}